name: Create Labels
on:
  workflow_dispatch:

jobs:
  create_labels:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - uses: actions/checkout@v4
      - uses: soukadao/workflow-actions/create-labels
